body {
  background-image: url(https://cdn.pixabay.com/animation/2024/11/17/09/57/09-57-26-102_512.gif);
  background-size: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: cyan;
  font-family: Arial, Helvetica, sans-serif;
}

nav .logosmk {
  display: flex;
  align-items: center;
  font-weight: bold;
}

nav .logosmk img {
  width: 40px;
  height: 40px;
}

nav .beranda {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

nav .beranda a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* MAIN CONTENT  */

main {
  display: flex;
  border-bottom: solid black 2px;
}

main .mainright {
  color: white;
  background-color: violet;
}
main .gambar {
  background-color: white;
}
main .gambar img {
  width: 50%;
  height: auto;
  margin-top: 2rem;
  margin-left: 50%;
}

.warning {
  text-align: center;
  font-size: 20px;
  border-bottom: black solid 2px;
}

form .buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

form .buttons h2 button {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 99, 228);
  margin-top: 30px;
  padding: 13px;
  border-radius: 20px;
  border: solid gray 2px;
}

.inputdata .nama {
  padding: 1%;
  margin: 10px;
}

.inputdata .alamat {
  padding: 1%;
  margin: 10px;
}
.inputdata .lahir {
  padding: 1%;
  margin: 10px;
}
.inputdata .kelamin {
  padding: 1%;
  margin: 10px;
}

.inputdata .agama {
  padding: 1%;
  margin: 10px;
}
.agama select {
  width: 50%;
}
.inputdata .ayah {
  padding: 1%;
  margin: 10px;
}
.inputdata .ibu {
  padding: 1%;
  margin: 10px;
}
.inputdata .telp {
  padding: 1%;
  margin: 10px;
}
.inputdata .foto {
  padding: 1%;
  margin: 10px;
}

.inputdata .foto img {
  width: 150px;
  height: 150px;
}
