body {
  background-image: url(https://cdn.pixabay.com/animation/2024/11/17/09/57/09-57-26-102_512.gif);
  background-size: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: cyan;
  font-family: Arial, Helvetica, sans-serif;
}

nav .logosmk {
  display: flex;
  align-items: center;
  font-weight: bold;
}

nav .logosmk img {
  width: 40px;
  height: 40px;
}

nav .beranda {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

nav .beranda a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* MAIN CONTENT  */

main {
  display: flex;
  /* border-bottom: solid black 2px; */
}

main .gambar img {
  width: 40%;
  height: auto;
  margin-top: 2rem;
  margin-left: 50%;
}

main .mainright h1 {
  font-size: 250%;
}

main .mainright h3 {
  font-size: 150%;
}

main .mainright h2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 99, 228);
  margin-top: 30px;
  padding: 13px;
  border-radius: 20px;
  border: solid gray 2px;
}

/* TIGA BLOCK  */

.tigablock {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* width */
}

.tigablock .pengurus {
  /* text-decoration: none; */
  background-color: grey;
  padding-bottom: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  border: solid gray 2px;
}
.tigablock .pengurus a {
  text-decoration: none;
  color: white;
}

.tigablock .kejuruan {
  background-color: grey;
  padding-bottom: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  border: solid gray 2px;
}
.tigablock .kejuruan a {
  text-decoration: none;
  color: white;
}

.tigablock .ulasan {
  background-color: grey;
  padding-bottom: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  border: solid gray 2px;
}
.tigablock .ulasan a {
  text-decoration: none;
  color: white;
}
