* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bagian header */
.header {
  background-color: blue;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.gambar img {
  width: 125px;
  height: 125px;
}

.konten-header {
  font-family: "Lucida Console", Monaco, monospace;
  color: black;
}

.judul h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.gambar-kiri {
  margin-left: auto;
}

.gambar-kiri img {
  width: 100%;
  height: 105px;
}

/* bagian utama */
.utama {
  background-image: url("../images/perpustakaan/gambar gif/padang\ rumput.gif");
  background-size: cover;
  background-position: left;
  color: white;
  display: flex;
  height: 1500px;
  width: 100%;
}

.judul-utama h1 {
  margin-left: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* bagian isi utama */

.judul-utama,
.tl h1,
.tp h1,
.titl h1,
.rpl h1,
.tm h1 {
  margin: 20px 0px 0px 20px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.kotak-profil {
  display: flex;
  gap: 20px; /* Jarak antar profil */
  flex-wrap: wrap; /* Supaya responsif saat layar sempit */
  justify-content: center; /* Tengah halaman */
  margin-top: 20px;
}

.profil {
  margin: 0px 0px 0px 50px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
}

.profil img {
  display: flex;
  margin-top: 30px;
  width: 100px;
  height: 100px;
}

.profil p {
  margin-top: 20px;
  color: black;
  font-size: 20px;
}

/* bagian footer */
.footer {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 25px;
  background-color: blue;
  height: 100px;
  display: flex;
  justify-content: center;
}

.nav-footer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
}

.social img {
  height: 50px;
}
